@model Models.Models.Address

@{
    ViewBag.Title = "DisplaySummary";
}

<h2>DisplaySummary</h2>
@using (Html.BeginForm("DisplaySummary", "Home")) 
{

    <div class="row">
        @Html.LabelFor(model => model.City, new { @class = "col-xs-3" })
        @Html.EditorFor(model => model.City, new { @class = "col-xs-4" })
    </div>

    <div class="row">
        @Html.LabelFor(model => model.Country, new { @class = "col-xs-3" })
        @Html.EditorFor(model => model.Country, new { @class = "col-xs-4" })
    </div>

    <button name="submit">Submit</button>
}

