@model string
@{
    ViewBag.Title = "Footer";
}

@if (string.IsNullOrWhiteSpace(Model))
{
    using (Html.BeginForm("Join", "Side", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Joing other side?</h2>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Hidden("answer", Model)
                    <input name ="answer" type="submit" value="Yes" class="btn btn-default" />
                    <input name ="answer" type="submit" value="No" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    <p>@Model</p>
}

