@model Views.Models.Person
@{
    ViewBag.Title = "Person";
}
@section NavBar{
    @if (Model.Side == "Dark")
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
        </div>
    }
    else
    {
        <div class="navbar navbar navbar-fixed-top">
        </div>
    }
}

@section Header{
    @if (Model.Side == "Dark")
    {
        <img src="~/Content/Images/DarkSide.jpg" alt="Dark side">
    }
    else
    {
        <img src="~/Content/Images/LightSide.jpg" alt="Dark side">
    }
    <h1><b>Faction : @Model.Side</b></h1>
}

@section Body{
    <h2>Person</h2>
    <p>Name : @Model.Name</p>
    <p>Side : @Model.Side</p>
}

@section Footer
{
    @Html.Action("Join", "Side")
}



